.container-fluid{background-image: url("marble.jpg");
  text-align:center; font-family:monospace;
width:1000px;}

h2 {
  text-align: center;
  font-family:sans-serif;
  color: green
}

.intro {
  font-family: serif;
  text-align: center;
  font-size: 20px;

}

body {
  background-image: url("marble.jpg");
}
