body {background-color: white;}
h1 {color: powder blue; text-align: center; font-size: 50px;}
.Homepage {background-color: powder blue;}
.Homepage h1 {color: white; text-align: center; font-size: 40px;}
.Homepage p {color: powder blue; text-align: center; font-size 40px;}
